@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*Сommon styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
h4{
  color: #555;
  font-weight: normal;
}
small{
  color: #555;
}
/*Custom styles*/
.cart{
  width: 30px;
  height: 30px;
}
.logo{
   width: 125px;
}
.header__menu_body{

}
.header__menu_body{
  padding: 20px;
}
.header__menu_body ul{
  display: inline-block;
  list-style-type: none;
}
.header__menu_body ul li{
  display: inline-block;
  margin-right: 20px;
}
.header__items_body{
  display: flex;
  float: right;
  align-items: baseline;
}
.line a:after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #555;
  content: "";
  transition: width 0.5s ease-out;
}

.line a:hover:after,
.line a:focus:after {
  width: 100%;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}

.header{
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
  margin-top: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1085px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  max-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
  cursor: pointer;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 p{
  font-size: 14px;
}
.rating .fa{
  color: #ff523b;
}
.col-4:hover{
  transform: translateY(-5px);
}
/* offer */
.offer{
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
/* testimonial */
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/* brands */
.brands{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.5s;
}
.col-5 img:hover{
  filter: grayscale(0);
}
/* footer */
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
.footer-nav_items{
  font-size: 18px;
}
.footer-nav_items li{
  width: fit-content;
  margin: auto;
  
}
.footer-nav_items a:hover{
  transition: 0.5s;
  color: #fff;
}
.footer-nav_items a:after{
  background: #fff;
}
/* media query for menu */
@media only screen and (max-width: 800px) {
  body.lock{
    overflow: hidden;
  }
  .logo{
    position: relative;
    width: 75px;
    z-index: 3;
  }
  .cart{
    display: none;
  }
  .line a:after{
    transition: none;
    height: 0px;
  }
   .header .row {
    margin-top: 60px;
  }
  .header__items{
    font-size: 24px;
  }
  .header__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  .header__menu:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #ffd6d6;
    z-index: 2;
  }
  .header__menu_body{
    display: flex;
    justify-content: space-between;
    position: relative;
  }  
  .header__menu_body ul li{
   display: block;
   margin: 0px 0px 20px 0px;
  }
  .menu__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__burger:after, .menu__burger:before{
    content: "";
    background-color: #555;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger:before{
    top: 0;
  }
  .menu__burger:after{
    bottom: 0;
  }
  .menu__burger span{
    content: "";
    background-color: #555;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 11px;
    transition: all 0.3s ease 0s;
  }
  .menu__burger.active:before{
    transform: rotate(45deg);
    top: 12px;
  }
  .menu__burger.active:after{
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .menu__burger.active span{
    transform: scale(0);
  }
  .header__items_body{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    padding: 80px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__items_body.active{
    top: 0;
  }
  .header__items_body a{
    color: #fff;
  }
}
/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .header .row {
    margin-top: 65px;
  }
}
